- name: Installation de Docker et Setup API
  hosts: api
  become: yes
  vars:
    docker_packages:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release

  tasks:
    - name: 1. Mise à jour du cache APT
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: 2. Installation des pré-requis
      apt:
        name: "{{ item }}"
        state: present
      loop: "{{ docker_packages }}"

    - name: 3. Création du dossier pour la clé GPG
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: 4. Ajout de la clé GPG officielle Docker
      shell: |
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg --yes
      args:
        creates: /etc/apt/keyrings/docker.gpg

    - name: 5. Ajout du dépôt Docker
      shell: |
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null

    - name: 6. Installation de Docker Engine
      apt:
        update_cache: yes
        name: 
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    - name: 7. Ajout de l'utilisateur ubuntu au groupe docker
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: 8. Démarrage du service Docker
      service:
        name: docker
        state: started
        enabled: yes
